extends layout

block content
  include start
  include lobbyCreate
  include lobbyJoin
  .container-fluid
    .row.justify-content-center
      .col-12.col-sm-10.col-md-8.col-lg-5.center
        h2.text-center#turn Game has not started
        - var cols = -1
        h2.text-center#color
        .table-responsive
          table.table
            tbody
              while cols < 7
                tr(class=++cols)
                  - var rows = -1
                  while rows < 7
                    if(rows + (cols % 2 == 0 ? 1 : 0)) % 2 == 0
                      td(id=++rows + ' ' + cols, onclick="clicked(this);").tile.t1
                        image.pover(src="/images/pieces/blank.png", id=rows + 'x' + cols)
                    else
                      td(id=++rows + ' ' + cols, onclick="clicked(this);").tile.t2
                        image.pover(src="/images/pieces/blank.png", id=rows + 'x' + cols)
      h2#gameResult
                    