.container-fluid
.row-fluid
  .modal.fade#lobby-join(tabindex="-1", role="dialog")
    .modal-dialog.modal-dialog-centered.modal-lg
      .modal-content
        .modal-header.center-justify
          h5.modal-title Select a lobby
        .modal-body
          .row
            .col-12.col-lg-4.mt-3.mt-lg-0.text-center
              button.btn.btn-block.btn-outline-info.btn-lg(type="button") Instant Game
            hr     
            .col-12.col-lg-4.mt-3.mt-lg-0.text-center
              button.btn.btn-block.btn-outline-info.btn-lg(type="button") Create a Lobby
            hr 
            .col-12.col-lg-4.mt-3.mt-lg-0.text-center
              button.btn.btn-block.btn-outline-info.btn-lg(type="button") Join a Lobby
            hr 