.container-fluid
  .row-fluid
    .modal.fade.form-popup(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel-1", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3.modal-title POPUP BOX HEADING
          .modal-body
            p body of popup box
