.container-fluid
  .row-fluid
    .modal.fade.form-popup(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel-1", aria-hidden="true")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header.center-justify
            h3.modal-title Welcome to Chess Mega
          .modal-body
            .row
              //- .col-12.col-lg-4.text-center.bg-info#instagame
              //-   .col-12
              //-     h4
              //-       p Instant Game 
              //-         a(href="#" data-toggle="tooltip" title="Play with default settings with the next available person")
              //-           span.fa.fa-info-circle
              .col-12.col-lg-4.mt-3.mt-lg-0.text-center
                button.btn.btn-block.btn-outline-info.btn-lg(type="button") Instant Game
              hr     
              .col-12.col-lg-4.mt-3.mt-lg-0.text-center
                button.btn.btn-block.btn-outline-info.btn-lg(type="button") Create a Lobby
              hr 
              .col-12.col-lg-4.mt-3.mt-lg-0.text-center
                button.btn.btn-block.btn-outline-info.btn-lg(type="button") Join a Lobby
              hr 
