.container-fluid
  .row-fluid
    .modal.fade#start-select(tabindex="-1", role="dialog")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header.center-justify
            h3.modal-title Welcome to Chess Mega
          .modal-body
            .row
              .col-12.col-lg-4.mt-3.mt-lg-0.text-center
                button.btn.btn-block.btn-outline-info.btn-lg#instant-game-btn(type="button", data-dismiss="modal") Instant Game
              hr     
              .col-12.col-lg-4.mt-3.mt-lg-0.text-center
                button.btn.btn-block.btn-outline-info.btn-lg#lobby-create-btn(type="button", data-dismiss="modal") Create a Lobby
              hr 
              .col-12.col-lg-4.mt-3.mt-lg-0.text-center
                button.btn.btn-block.btn-outline-info.btn-lg#lobby-join-btn(type="button", data-dismiss="modal") Join a Lobby
              hr 
