body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

div.t1 {
  background: black;
}

div.t2 {
  background: white;
}

.bsquare{
  width: 100%;
}

.col-centered{
  float: none !important;
  margin: 0 auto;
}